.side-drawer {
  height: 100%;
  // background: #f6dbe2;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  // transform: translateX(-100%);
  // transition: transform 0.4s ease-out;
  // list-style: none;

  .toolbar-navigation-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;

    a {
      // color: white;
      text-decoration: none;
      font-size: 1.2rem;

      :hover {
        border-bottom: 1px solid black;
        color: #c3a9ee;
      }
    }
  }
  
}
